.bageContenerx{
  background: #f5f5f5;
  height: 746px;
  padding: 1%;
}

 .ualusx{
  width: 550px;
  margin-left: 6%;
  margin-top: 7%;
 }
 .smallcontenerx{
  width: 35%;
  margin-left: 58%;
  padding: 1%;
  margin-top: 10%;
}

 .wstenx{
  padding: 1%;
  margin-top: 18%;
  font-size: 270%;
  width: 88%;
 }
 .pragraf1x{
  margin-top: 6%;
  font-family: math;
  font-size: 86%;
 }
 .pragraf2x{
  margin-top: 6%;
  font-family: math;
  font-size: 86%;
 }
.tantonx{
  margin-top: -36%;
}
.vadiose{
  width: 100%;
}
.vgnarBage{
  width: 98%;
  background: #f5f5f5;
  height: 636px;
  padding: 1%;
}
.yaxslans{

}
.ramdan{
  margin-left: 64%;
  margin-top: 5%;
  width: 30%;
}
.katkot{
  margin-left: 9%;
  margin-top: -36%;
}
.aboalile{
  font-size: 266%;
  width: 34%;
}
.nharibid{
  width: 39%;
  margin-top: 1%;
  line-height: 121%;
}

.karim{
  width: 36%;
  margin-left: 0%;
  margin-top: 5%;
}
