.tolams{
    width: 98%;
    background-color: #F9F9F7;
    padding: 1%;
}
.mangnez{
    margin-top: 10%;
    margin-left: 32%;
    font-size: 378%;
}
.sany{
    width: 40%;
    text-align: center;
    margin-left: 32%;
    margin-top: 1%;
    font-family: system-ui;
}
.CaKexz{
    width: 85%;
    margin-left: 8%;
    margin-top: 2%;
}
.titancs{
    width: 98%;
    background-color: #F9F9F7;
    padding: 1%;
    height: 2285px;
}
.botes{
    
}
.shebse{
    font-size: 251%;
    width: 54%;
    text-align: center;
    margin-left: 23%;
    margin-top: 3%;
}
.poster{
    margin-left: 21%;
    margin-top: 3%;
    width: 58%;
}
.foster{

}
.shoster{
    margin-left: 21%;
    margin-top: 3%;
    font-size: 131%;
    font-family: sans-serif;
}
.caster{
    margin-left: 21%;
    margin-top: 2%;
    font-size: 97%;
    width: 77%;
    font-family: sans-serif;
    color: #414536;
}
.master{
    margin-left: 22%;
    margin-top: 1%;
    font-size: 97%;
    width: 76%;
    font-family: sans-serif;
    color: #414536;
}
.pasdolfa{
    margin-left: 21%;
    margin-top: 3%;
    font-size: 131%;
    font-family: sans-serif;
}
.narcezer{
    margin-left: 21%;
    margin-top: 2%;
    font-size: 97%;
    width: 77%;
    font-family: sans-serif;
    color: #414536;
}
.marces{
    margin-left: 22%;
    margin-top: 1%;
    font-size: 97%;
    width: 76%;
    font-family: sans-serif;
    color: #414536;
}
.shancez{

}
.potgrefers{
    margin-left: 21%;
    margin-top: 3%;
    width: 58%;
}
.masteryols{
    margin-left: 21%;
    margin-top: 3%;
    font-size: 131%;
    font-family: sans-serif;
}
.volves{
    margin-left: 21%;
    margin-top: 2%;
    font-size: 97%;
    width: 66%;
    font-family: sans-serif;
    color: #414536;
}
.colcos{
    height: 571px;
}
.bolobs{
    margin-top: 4%;
    margin-left: 33%;
}
.olimbick{
    font-size: 265%;
    margin-left: 7%;
}
.fldifia{
    text-align: center;
    font-family: system-ui;
    width: 59%;
    margin-left: -3%;
    margin-top: 2%;
}
.malteryo{

}
.bolinost{
    width: 91%;
    margin-left: 5%;
}